/* --------- Global style */

body {
    background-color: #fffafa;
    font-family: "Montserrat", sans-serif;
}

/* --------- Heading */


.header {
    color: #C71585;
}

.header-name {
    font-family: Mansalva, cursive;
}

/* Game layout    */

.game-area {      /* Game-area influenced by Code Institute Mathquizz layout */
    background-color: #d3cfcf; 
    box-sizing: border-box;
    border-radius: 15px;
    max-height: 600px;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    padding: 1%;
}

.control-button {
    border-radius: 5px;
    box-shadow: 0px 3px #999;
    transition: all .4s;
}

.control-button:hover {
    box-shadow: 0px 3px #999;
    filter: brightness(90%)
}

.control-button:active {
    box-shadow: 2px 5px 25px #999;
    transform: translateY(2px);
    transition: all .4s;
    filter: brightness(110%) saturate(110%);
}

.buttons {
    height: 160px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 8px #999;
    transition: all .4s;  
}

.buttons:hover {
    box-shadow: 3px 5px 15px #999;
    box-shadow: 0px 8px #999;
    filter: brightness(90%);
}

.buttons:active {
    box-shadow: 2px 5px 25px #666;
    transform: translateY(4px);
    transition: all .1s;
    filter: brightness(140%) saturate(200%);
}

.buttonClick {
    box-shadow: 2px 5px 25px #666;
    transform: translateY(4px);
    transition: all .1s;
    filter: brightness(140%) saturate(200%);
}

#start-button {
    background-color: green;
    border: 1px solid rgb(33, 95, 14);
    color: #eee;
}

/* #pause-button {
    background-color: orange;
    border: 1px solid rgb(180, 120, 9);
    color: black;
}

#reset-button {
    background-color: red;
    border: 1px solid rgb(180, 42, 42);
    color: #eee;
} */

#lilac {
    background-color: rgb(255, 44, 125);
    border: 3px solid rgb(207, 22, 130);
}

#green {
    background-color: green;
    border: 3px solid rgb(33, 95, 14);
}

#orange {
    background-color: orange;
    border: 3px solid rgb(180, 120, 9);
}

#blue {
    background-color: rgb(68, 103, 216);
    border: 3px solid rgb(23, 52, 218);
}
/* End of Game Layout */